.container {
  margin: 0 auto;
  padding: 0 120px;
  max-width: 1500px;
  width: 100%;

  @media screen and (max-width: 1440px) {
    padding: 0 60px;
  }

  @media screen and (max-width: 1024px) {
    padding: 0 30px;
  }
}
